.select {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  width: calc(100% - 2rem);
  max-width: 300px;

  .react-select__control {
    outline: none !important;
    border-radius: 1rem;
  }
}
