@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  width: calc(100% + 300px);

  &--hasmuseum {
    width: 100%;
  }

  &--mobile {
    width: 100%;
    height: calc(100% + 40dvh);
  }

  &--transition {
    transition: width 0.5s, height 0.5s;
  }

  &--mobile#{&}--hasmuseum {
    height: 100%;
  }
}
