.mapboxgl-map {
  position: relative;
  border-radius: 1rem;

  canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 1rem;
  }

  // .mapboxgl-ctrl-attrib-button {
  //   display: block !important;
  // }
  // .mapboxgl-ctrl-attrib .mapboxgl-ctrl-attrib-inner {
  //   display: none;
  // }
}
